## sturctured arrays

In [2]:
import pandas as pd 
import numpy as np

## case:-1

creating a structured array using a compound data type specification

In [3]:
name = [ "Alice", "Bob", "Cathy", "Doug"]
age = [25, 45, 37, 19]
weight = [55.0, 85.5, 68.0, 61.5]

In [4]:
# First create an empty array container.
# Then we will fill the data to that array

In [5]:
# To crete an empty that has compound type specification we can use a dictionary passed to dtype parameter

In [8]:
arr = np.zeros(4, dtype={'names':('name', 'age', 'weight'), 'formats':('U10', 'i4', 'f8')})
arr.dtype

dtype([('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [9]:
# Here 'U10' translates to 'unicode string of maximum length 10',
#'i4' translates to '4bytes (i.e., 32 bit) integer
# 'f8' tranlates to '8 bytes(i.e., 64 bit) float

In [10]:
arr['name']=name
arr['age']=age
arr['weight']=weight

In [11]:
arr

array([('Alice', 25, 55. ), ('Bob', 45, 85.5), ('Cathy', 37, 68. ),
       ('Doug', 19, 61.5)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [12]:
# The handy thing with structured arrays is that you refer to values either by index or by name

In [13]:
# Get all names
arr['name']

array(['Alice', 'Bob', 'Cathy', 'Doug'], dtype='<U10')

In [14]:
# Get first row
arr[0]

('Alice', 25, 55.)

In [15]:
# Get the name from the last row
arr[-1]['name']

'Doug'

## Case 2:-

Defining compound types by using a list of tuples

In [16]:
data = np.zeros(4,dtype=[('name', 'U10'), ('age', 'i4'), ('weight', 'f8')])
data.dtype

dtype([('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [17]:
data['name']=name
data['age']=age
data['weight']=weight

In [18]:
data

array([('Alice', 25, 55. ), ('Bob', 45, 85.5), ('Cathy', 37, 68. ),
       ('Doug', 19, 61.5)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [19]:
data['name']

array(['Alice', 'Bob', 'Cathy', 'Doug'], dtype='<U10')

In [21]:
data[0]

('Alice', 25, 55.)

## Structured arrays to a pandas dataframe

In [22]:
df=pd.DataFrame(data)
df

    name  age  weight
0  Alice   25    55.0
1    Bob   45    85.5
2  Cathy   37    68.0
3   Doug   19    61.5